<%= form_with model: @item,url:admin_items_path, local:true do |f| %>
<h4 class="ml-4 d-inline"style="color: black; background-color: silver;">商品新規登録</h4>
<div class="container ">
      <div class="form-group col-xs-12">
         <%= f.label "商品画像", class: "col-sm-2 control-label" %>
         <%= f.attachment_field :image %>
         </div>
      <div class="form-group col-xs-12">
        <%= f.label "商品名", class: "col-sm-2 control-label" %>
        <%= f.text_field :name %>
      </div>
        <div class="form-group col-xs-12">
          <%= f.label "商品説明", class: "col-sm-2 control-label" %>
          <%= f.text_area :introduction %>
        </div>
          <div class="form-group col-xs-12">
           <%= f.label "ジャンル", class: "col-sm-2 control-label" %>
           <%= f.collection_select :genre_id, Genre.all, :id, :name, {prompt: "ジャンルを選択してください"} %>
          </div>
           <div class="form-group col-xs-2">
             <%= f.label "税抜き価格", class: "col-sm-2 control-label" %>
            <%= f.text_field :price %>円
           </div>
         <div class="form-group col-xs-12">
           <%= f.label "販売ステータス", class: "col-sm-2 control-label" %>
           <%= f.label :is_active, "販売中",value:true %>
    　　　 　　 <%= f.radio_button :is_active, true ,checked: true %>
           <%= f.label :is_active, "販売停止中",value:false %>
           <%= f.radio_button :is_active, false %>
         </div>
      <div class='form-inline ml-5'>
         <%= f.submit '新商品登録',class: "btn btn-success col-6" %>
      </div>
   <% end %>
 </div>