<div>
<%= attachment_image_tag @item, :image_id %>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明: <%= @item.introduction %></p>
   <p>ジャンル：<%#<%=@item. ganre_id  %></p>
  <p>税抜き価格：<%= @item.price %></p>
  <p><% if @item.is_active == true %>販売中</p>
 <% else %>　販売停止
 <% end %>
 
 
</div>
 <%= link_to "編集", edit_admin_item_path(@item) %>
 <%= link_to "一覧へ", admin_items_path(@item) %>