<div class='row'></div>
 <h2>ジャンル追加</h2>
      <%= form_with model:@genre, url:'/admin/genres', local:true do |f| %>
         <%= f.label :ジャンル名　 %>
         <%= f.text_field :name %>
         <%#= f.attachment_field %>
         <%= f.submit '新規登録', class: "btn btn-success" %>
        <% end %>
      <h2 >ジャンル一覧</h2>
      <div class="d-flex flex-wrap mt-5">
      <% @genres.each do |genre| %>
        <div class="col-3 px-2 mb-4">
          <%#= attachment_image_tag genre, :image, :fill, 180, 180, format: 'jpeg' %>
          <p class='font-weight-bold text-dark mt-2 mb-2' style='font-size: 20px;'><%= genre.name %></p>
          <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %>
        </div>
      <% end %>
      </div>
  </div>