<h4 class="ml-4 d-inline"style="color: black; background-color: silver;">注文履歴一覧</h4>

  <table class="table table-bordered w-75 m-5">
    <thead>
        <tr>
          <td class="p-2"style="color: black; background-color: silver;">注文日</td>
            <td class="p-2"style="color: black; background-color: silver;">配送先</td>
              <td class="p-2"style="color: black; background-color: silver;">注文商品</td>
              <td class="p-2"style="color: black; background-color: silver;">支払い合計</td>
            <td class="p-2"style="color: black; background-color: silver;">ステータス</td>
          <td class="p-2"style="color: black; background-color: silver;">注文詳細</td>
        </tr>
    </thead>

    <tbody>
        <% @order.each do |order| %>
          <tr>
              <td> <%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= order.postal_code %><br>
                  <%= order.address %><br>
                  <%= order.name %>
              </td>
             
                <% @cart_details.each do |cart_detail| %>
                 <td>
                  <%= cart_detail.item.name %><br>

                  </td>
              <td>合計:<%= (cart_detail.item.price*cart_detail.amount) %>円</td>
              
              <td></td>

                <td><%= link_to '表示する',order_path(order),class:"btn btn-primary ml-5" %></td>
            </tr>
<% end %>
        <% end %>

      </tbody>
  </table>
