<h3>注文情報入力</h3>

<%= form_with model: @order,url: confirm_orders_path, method: :get, local:true do |f| %>
  <div class="form-group col-xs-12">
    <%#= f.label "販売ステータス", class: "col-sm-2 control-label" %>
    <%= f.label :payment_method, "クレジットカード",value:0 %>
    <%= f.radio_button :payment_method, :credit %>
    <%= f.label :payment_method, "銀行振込",value:1 %>
    <%= f.radio_button :payment_method, :cash %>
  </div>

<%= f.label :address_option,"ご自身の住所",value:0 %>
<%= f.radio_button :address_option,0 %>
<div>
  <%= @customer.postal_code %>
  <%= @customer.address %><br>
  <%= @customer.first_name %> <%= @customer.last_name %>
</div>

<%= f.label :address_option,"登録済住所から選択",value:1 %>
<%= f.radio_button :address_option,1 %>
<%= f.collection_select :delivery_id,current_customer.deliveries,:id,:address_all %>

<%= f.label :address_option,"新しいお届け先",value:2 %>
<%= f.radio_button :address_option,2 %>
  <div class="m-5">
        <div class="form-group col-xs-12">
                <%= f.label "郵便番号（ハイフンなし）", class: "col-sm-2 control-label" %>
                <%= f.text_field :postal_code %>
        </div>
        <div class="form-group col-xs-12">
                <%= f.label "住所", class: "col-sm-2 control-label" %>
                <%= f.text_field :address,class: "col-sm-4"  %>
        </div>
        <div class="form-group col-xs-12">
                <%= f.label "宛先", class: "col-sm-2 control-label" %>
                <%= f.text_field :name %> <%= f.submit '確認画面へ進む',class:"btn btn-success ml-5" %>
        </div>
  <% end %>
  </div>