<h4 class="ml-4 d-inline"style="color: black; background-color: silver;">注文履歴詳細一覧</h4>
  <h5>注文履歴詳細</h5>
     <table class="table table-bordered">
        注文情報
        <tr>
          <th>購入日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
        <tr>
          </th>配送先</th>
          </td>
            <%= @order.postal_code %>
            <%= @order.address %>
            <%= @order.name %>
          </td>
        </tr>
        <tr>
            </th>支払い方法</th>
            </td><%= @order.payment_method_i18n %></td>
        </tr>
          <tr>
          </th>ステータス</th>
          <% @order.order_details.each do |order_detail| %>
          </td><%= order_detail.making_status %></td>
          <% end %>
        </tr>
      </table>
      <table>
        請求情報
        商品合計
        <%#= @order.order_details.item.price %>
        配送料

        ご請求額
      </table>
      <table>
        注文内容
          <thead>
            商品
            単価（税込）
            個数
            小計
          </thead>
          <% @order.order_details.each do |order_detail| %>
          <%= order_detail.item.name %>
          <%= order_detail.amount %>
          <% end %>
      </table>