<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :size=>"50" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password", :size=>"50" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h4 class="ml-5 bg-light d-inline">会員登録画面お済みでない方</h4>
  <div class="container">
    <div class="row"></div>
    <p class="col-md-4 pt-4"><u><%= link_to 'こちら', new_customer_registration_path %></u>から新規登録を行ってください。</p>
  </div>


