
<div class=container>
  <div class="row">
    <div class="col-md-10 offset-md-1">
    	<h2>商品一覧(全<%= @items_all.count %>件)</h2>
　　  <div class="product-card-content">
        <% @items.each do |item| %>
		     <div class="col-xs-3, top" style="padding-right: 0px; padding-left: 0px; margin: 5px;">
			     <%= link_to item_path(item.id) ,style: "color: black;", data: {"turbolinks" => false} do %>
				   <%= attachment_image_tag item, :image, :fill, 200, 150, format: 'jpeg',fallback: "no_image.jpg" %><br>
			     <%= item.name %>
				   ¥<%= item.price.to_s(:delimited, delimiter: ',') %>
			     <% end %>
		     </div>
	      <% end %>
	    </div>
      <div style="text-align: center;"><%= paginate @items %></div>
    </div>
</div>
</div>
</div>