<h4 class="m-4 d-inline"style="color: black; background-color: silver;">ショッピングカート</h4>
<div class="text-right m-3">
<%= button_to "カートを空にする", destroy_all_cart_details_path, method: :delete ,class:"btn btn-danger" %>  
</div>
<% @cart_details.each do |cart_detail| %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">商品名</th>
      <th scope="col">単価（税込み）</th>
      <th scope="col">数量</th>
      <th scope="col">小計</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p><%= attachment_image_tag cart_detail.item, :image, :fill, 200, 150, format: 'jpeg',fallback: "no_image.jpg" %></p><%= cart_detail.item.name %></td>
      <td><%= (cart_detail.item.price*1.1).floor %>円</td>
      <td><%= form_with model:cart_detail,url:cart_detail_path(cart_detail),local:true do |f| %>
          <%= f.hidden_field :item_id, value: cart_detail.item.id %>
          <%= f.select :amount , options_for_select((1..10), {selected: cart_detail.amount.to_i})%>個
          <%= f.submit "更新", class: "" %>
          <% end %>
      </td>
      <td>合計:<%= ((cart_detail.item.price*cart_detail.amount*1.1).floor) %>円</td>
      <td> <%= link_to "削除", cart_detail_path(cart_detail), method: :delete,
                                       data: {confirm: "商品を削除しますか？" } %></td>
      <% end %>                                 
    </tr>
  </tbody>
</table>
<div class="h1 text-right"><%= "合計：#{(@total*1.1).floor}円" %></div>   
<%= link_to '買い物を続ける',items_path,class:"btn btn-primary m-5" %>
<div class="text-center m-5">
<%=link_to'情報入力に進む',new_order_path(@order), class:"btn btn-success" %>
</div>