        <% if admin_signed_in? %>
        
        <li class="nav-item p-2 mr-5 btn-light rounded">
          <li><%= link_to '商品一覧',%></li>
          <li class="nav-item p-2 mr-5 btn-light rounded">
          <li><%= link_to '会員一覧',%></li>
          <li class="nav-item p-2 mr-5 btn-light rounded">
          <li><%= link_to '注文一覧',%></li>
          <li class="nav-item p-2 mr-5 btn-light rounded">
          <li><%= link_to '注文一覧',%></li>
          <li class="nav-item p-2 mr-5 btn-light rounded">
          <li><%= link_to ' logout',%></li>
        <% else %>
        <% end %>
        